
.header {
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  color: white !important;

  h1 {
    font-weight: 900;
  }

}



