header {
    height: unset !important;
}

.banner {
    background: url('http://via.placeholder.com/1920x650') no-repeat center center;
    background-size: cover;
}

.view {
    height: 40vh !important;
}

h1 {
    text-align: center;
    padding-top: 100px;
    color: #fff;
}

h6 {
    line-height: 1.7;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.mainContainer {
    width: 95%;
    margin: auto;
}

.row {
    width: 100%;
    margin: auto 10px auto 10px;
}

.content {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 30%;
    height: auto;
    text-align: center;
    image-orientation: middle;
    margin: 35px auto 35px auto;
}

    .content p {
        padding: 10px;
    }

    .content img {
        border-radius: 10px;
        width: 80%;
    }

.button {
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 0;
    border: 2px solid #000000;
    width: 45%;
    background-color: #fff;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

    .button a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    }

@media (max-width: 650px) {

    .banner {
        background: url('http://via.placeholder.com/600x600') no-repeat center center;
        background-size: cover;
    }
    .row {
        width: 75%;
        margin: auto;
    }

    .content {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid grey;
        width: 95%;
        height: auto;
        text-align: center;
        image-orientation: middle;
        margin: 35px 15px;
    }

    .button {
        border-radius: 40px;
        font-size: 16px;
        padding: 10px 0;
        border: 2px solid #000000;
        width: 40%;
        background-color: #fff;
        margin: auto;
        text-transform: uppercase;
        text-align: center;
    }
}
