.blog {
  .card {
    box-shadow: 1px 1px 8px 0px #00000024;
    width: 100%;
    max-width: 330px;
    position: relative;
    transition: 500ms all ease-out;
    top: 0;

    @media (max-width: 767px) {
      max-width: 100%;
    }

    &:hover {
      top: -20px;
      position: relative;

      .btn-default {
        &:before {
          width: 100%;
        }
      }
    }
  }
}

.btn-default {
  margin: auto;
  display: inline-block !important;
  width: 100%;
  max-width: 140px;
  border: 2px solid #333 !important ;
  border-radius: 20px !important;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 14px !important;
  letter-spacing: 2px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  transition: all 0.3s;
  z-index: 1;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px !important;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(rgba(10, 10, 10, 0.185), 15%);
    transition: all 0.3s;
    border-radius: 20px !important;
    z-index: -1;
  }
}
