* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: white;
}

.accordion {
    padding: 10px;
    border: none;

}

.container{
   padding: 50px;
}

@media (max-width: 1000px){

    div.container{
        display: none;
    }        
}

@media (min-width: 1000px){

    div.accordion{
        display:none;
    }
   
}



