header {
    height: unset !important;
}

.banner {
    background: url('http://via.placeholder.com/1920x650') no-repeat center center;
    background-size: cover;
}

.view {
    height: 40vh !important;
}

h1 {
    text-align: center;
    padding-top: 100px;
    color: #fff;
}

h6 {
    line-height: 1.7;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.mainContainer {
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}

section {
    display: none;
    padding: 20px 5px;
    position: absolute;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

    label:hover {
        color: #888;
        cursor: pointer;
    }

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #fff;
}

.tabsection .tabs:checked ~ .contentbox {
    display: block;
}

p {
    padding: 10px;
}

@media screen and (max-width: 650px) {

    .banner {
        background: url('http://via.placeholder.com/600x600') no-repeat center center;
        background-size: cover;
    }
    label {
        text-align: left;
        display: block;
        border: 1px solid #ddd;
    }

        label:before {
            margin: 0;
            font-size: 18px;
        }

    section {
        position: relative;
        border: 1px solid #ddd;
        border-top: 0px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
        display: block;
    }
}

@media screen and (min-width: 650px) {
    .mainContainer {
        display: inline-flex;
    }
}
