<!--Header-->
<header class="header">
  <!--Intro Section-->
  <section class="view banner">
    <div class="container flex-center">
      <h1 class="h1-responsive">
        Hello Developer!
      </h1>
      <h6 class="wow fadeInLeft">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h6>
    </div>
  </section>
</header>
<!--Header-->

<!--Main Layout-->
<main>
  <div class="mainContainer">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="content">
        <img src="http://via.placeholder.com/400x300" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temport incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <a href="#"><div class="button">READ MORE</div></a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="content">
        <img src="http://via.placeholder.com/400x300" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temport incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#"><div class="button">READ MORE</div></a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="content">
        <img src="http://via.placeholder.com/400x300" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temport incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco.
        </p>
        <a href="#"><div class="button">READ MORE</div></a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</main>
<!--Main Layout-->
