<!--Header-->
<header class="header">
    <div class="view banner">
        <div class="container">
            <h1>
                Hello Developer!
            </h1>
            <h6>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </h6>
        </div>
    </div>
</header>
<!--Header-->

<article>
    <section>
        <div class="mainContainer">
            <div class="row">
                <div class="content">
                    <img src="http://via.placeholder.com/400x300" />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod temport incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.
                    </p>
                    <a href="#">
                        <div class="button">READ MORE</div>
                    </a>
                </div>

                <div class="content">
                    <img src="http://via.placeholder.com/400x300" />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod temport incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="#">
                        <div class="button">READ MORE</div>
                    </a>
                </div>

                <div class="content">
                    <img src="http://via.placeholder.com/400x300" />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod temport incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco.
                    </p>
                    <a href="#">
                        <div class="button">READ MORE</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</article>
