.button {
  width: 150px;
  height: 45px;
  background-color: white;
  color: #333333;
  font-weight: 800;
  letter-spacing: 0.2em;
  border-radius: 22px;
  border: 3px solid #333333;
  cursor: pointer;
}
