// Banner.module.scss

.banner {
    position: relative;
    height: 650px;
    background-size: cover;
    background-position: center;
    text-align: center;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); // Adjust the background overlay color and opacity
    }
  
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      h1, span {
        color: white;
        margin-bottom: 0;
      }
      h1 {
        font-size: 3em;
      }
      span {
        font-size: 1.5em;
      }
    }
  
    @media screen and (max-width: 1450px) {
      height: 450px;
    }
  
    @media screen and (max-width: 768px) {
      height: 350px;
    }
  }
  