html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $primary-font,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

main {
    min-height: 100%;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
}

figure, picture {
    margin: 0;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

picture{
    display: block;
}

ol, ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}
