.contentTile__container {
  box-sizing: border-box;
  padding: 24px;

  box-shadow: 0 0 4px lightgrey;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentTile__container:hover {
  transition: 300ms ease-in-out;

  background-color: lightgrey;
  box-shadow: 0 0 4px black;

  img {
    border: 1px solid darkgrey;
  }
}

.contentTile__image {
  width: 100%;
  border-radius: 6px;
}

.contentTile__content {
  text-align: center;
  margin: 24px 0;
}

.contentTile__button {
  background-color: white;
  font-weight: bold;
  padding: 8px;
  border: 2px solid black;
  border-radius: 24px;
  margin: 0;
}

.contentTile__button:hover {
  transition: 300ms ease-in-out;
  background-color: black;
  color: white;
}
