.section {
  width: 100%;
  padding: 70px 0;

  @media (max-width: 600px) {
    padding: 30px 0;
  }

  &__hero {
    height: 650px;
    background-image: url('/assets/1920x650.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width:600px) {
      height: 600px;
      background-image: url('/assets/600x600.png');
    }
  }
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  @media(max-width: 600px) {
    width: 100%;
    margin: 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  
  h1, p {
    text-align: center;
    //set break-word so that texts wont overlap its container
    word-break: break-word;
  }

  @media(max-width: 400px) {
    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 2.3rem;
    }
  }
}

.cards {

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 100%;
  }
}

.card {
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.30);
  // setting flex-grow, flex-shrink, flex-basis
  flex: 1 1 450px;
  padding: 20px;
  //setting max width so flex container wont increase its size during responsive breakpoints / wrapping of flex items
  max-width: 450px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
  opacity: 0;
  

  &:nth-child(1) {
    animation: slideUp 300ms ease-out 200ms forwards;;
  }

  &:nth-child(2) {
    animation: slideUp 300ms ease-out 300ms forwards;
  }

  &:nth-child(3) {
    animation: slideUp 300ms ease-out 400ms forwards;
  }


  @media (max-width:451px) {
    flex: 1 1 350px;
    max-width: 350px;
  }


  &__image {
    height: 300px;
    width: 400px;
    border-radius: 5px;
    object-fit: cover;

    @media (max-width:451px) {
      height: 300px;
      width: 100%;
    }
  }

  p {
    text-align: center;
    font-size: 2rem;
    height: 100%;

    @media (max-width: 451px) {
      font-size: 1.5rem;
      height: auto;
    }
  }

  &__button {
    padding: 10px;
    background-color: white;
    outline: 2px solid black;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 900;
    min-width: 50%;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all .2s ease-out;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
      outline: 2px solid white;
    }
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
