@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

*,
html,
body {
  font-family: "Montserrat", sans-serif;
  color: $body-font;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
}
h2 {
}
h3 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2rem;
}
h4 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
}
h5 {
}
h6 {
}
p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
a {
  color: $indigo-lighten-2;
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1.5rem;
}
a:hover {
  color: $indigo-darken-2;
}
