$indigo: #3f51b5;
$indigo-lighten-1: #5c6bc0;
$indigo-lighten-2: #7986cb;
$indigo-lighten-3: #9fa8da;
$indigo-lighten-4: #c5cae9;
$indigo-lighten-5: #e8eaf6;
$indigo-darken-1: #3949ab;
$indigo-darken-2: #303f9f;
$indigo-darken-3: #283593;
$indigo-darken-4: #1a237e;
$body-font: grey;
