body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

button,
a {
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* List */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: block;
}

/* Tabs */

.tab-wrapper {
  margin-bottom: 20px;
  border: 1px solid #e4e4e7;
  border-radius: 5px;
  padding: 20px;
}

.tab__menu {
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #e4e4e7;
}

.tab__menu li {
}

.tab__menu-btn {
  padding: 15px 10px;
  border-radius: 5px;
  position: relative;
}

.tab__menu-btn:after {
  content: '';
  border-bottom: 2px solid #0ea5e9;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.tab__menu-btn:hover:after,
.tab__menu-btn.active:after {
  opacity: 1;
}

.tab__content {
  padding: 20px 0;
}

.tab__content-inner {
  display: none;
}

.tab__content-inner.fade {
  transition: opacity 0.25s linear;
}

.tab__content-inner.fade:not(.active) {
  opacity: 0;
}

.tab__content-inner.active {
  display: block;
}
