// Color Schemes
$color-blank: #fff;

// Font Family
$theme-font:    verdana, sans-serif;
$primary-font-family: 'Arial', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

$theme-width: 970px;
