@tailwind base;
@tailwind components;
@tailwind utilities;
/* Move style into different place */

html, body {
  height: 100%;
}

#app {
  height: 100%;
}

.five-pointed-star {
  --star-color: #fff;
  margin: 1em auto;
  font-size: 1em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
 }
 .five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content:"";
  transform: rotate(-35deg);
 }
 .five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content:"";
 }
 
.article-thumbnail-star {
  font-size: 0.7em !important;
}
h1 {
  font-size: 1.9em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}
h5 {
  font-size: 0.83em;
  font-weight: bold;
}
h6 {
  font-size: 0.67em;
  font-weight: bold;
}