@tailwind base;
@tailwind components;
@tailwind utilities;

.exercise-two {
	width: 100vw;
	min-height: 100vh;
	position: relative;
	padding: 30vh 16px 16px;
	overflow: hidden;
}
@media screen and (max-width: 767px) {
	.exercise-two {
		padding: 10vh 16px 16px;
	}
}
.exercise-two * {
	font-family: "Poppins", sans-serif !important;
}
.exercise-two::after {
	content: "";
	position: absolute;
	top: -30px;
	left: -30px;
	right: -30px;
	bottom: -30px;
	background-image: url("../../images/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	filter: blur(20px);
	z-index: -1;
}
.exercise-two .tabs {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.exercise-two .tabs-header {
		display: flex;
	}
}
.exercise-two .tab {
	flex-grow: 1;
}
@media screen and (max-width: 767px) {
	.exercise-two .tab:first-child .tab-title {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.exercise-two .tab:last-child .tab-title {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.exercise-two .tab:last-child .tab-content {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.exercise-two .tab-accordion-hide div.tab-title {
		color: #222 !important;
	}
	.exercise-two .tab-accordion-hide .tab-content {
		height: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.exercise-two .tab-accordion-hide:last-child .tab-title {
		border-bottom-left-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
}
.exercise-two .tab-active .tab-title {
	background-color: rgba(255, 255, 255, 0.5);
	color: #ab6832;
}
@media screen and (min-width: 768px) {
	.exercise-two .tab-active .tab-title {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}
@media screen and (max-width: 767px) {
	.exercise-two .tab-active .tab-title {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}
.exercise-two .tab-active .tab-content {
	height: 400px;
	padding: 16px;
}
.exercise-two .tab-active .tab-content-text {
	opacity: 1;
	transform: scale(1);
}
.exercise-two .tab-title {
	padding: 16px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
}
@media screen and (min-width: 768px) {
	.exercise-two .tab-title {
		text-align: center;
	}
}
@media screen and (max-width: 767px) {
	.exercise-two .tab-title {
		background-color: rgba(255, 255, 255, 0.5);
	}
}
.exercise-two .tab-content {
	height: 0;
	overflow: hidden;
	transition: 0.3s;
	background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 768px) {
	.exercise-two .tab-content {
		display: none;
	}
}
.exercise-two .tab-content-text {
	opacity: 0;
	margin: 0;
	transition: 0.5s ease-in-out;
	transform: scale(0.8);
}
.exercise-two .tab-content-desktop {
	padding: 16px;
	background-color: rgba(255, 255, 255, 0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
@media screen and (max-width: 767px) {
	.exercise-two .tab-content-desktop {
		display: none;
	}
}
