$primaryColor: #fff;
$commonFont: Arial, sans-serif;
$primaryFont: 'Raleway';
$secondaryFont: 'Abel';
$linearGradient: rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8);
$desktopBanner: url('../../assets/1920x650.png');
$mobileBanner: url('../../assets/600x600.png');