.section-banner {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url("http://via.placeholder.com/1920x650");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

.banner__container {
    height: 100%;
    
}
.banner__body {
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: .2em;
}
.banner__heading {
    font-weight: bold;
    font-size: 3.5em;
}
.banner__text {
    font-weight: normal;
    font-size: 2em;

}

.section-content {
    padding: 3em 0;
}

.content__container {
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.content__card {
    padding: 1em;
    flex-basis: 30%;
    height: 600px;
}

.content__img {
    object-fit: contain;
}

.card-text {
    font-size: 1em;
    font-weight: 500;
}

.content__btn {
    border: solid 2px #000;
    font-weight: bold;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.content__btn:hover {
    background: #000;
    color: #fff;
}



/* tablet responsiveness */
@media screen and (max-width: 991px) {
    .card-text {
        font-size: .85em;
    }

    .content__container {
        max-width: 100%;
        padding: 1em;
    }
}

@media screen and (max-width: 767px) {
    .section-content {
        padding: 2em 0;
    }

    .content__card {
        margin: 1.5em 0;
        flex-basis: 75%;
        height: unset;
    }
}

/* mobile responsiveness */
@media screen and (max-width: 575px) {
    .section-banner {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url("http://via.placeholder.com/600x600");
        height: unset;
        padding: 4em 0;
    }

    .content__container {
        padding: 1em;
    }

    .content__card {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 320px) {
    .banner__heading {
        font-weight: bold;
        font-size: 2.75em;
    }

    .banner__text {
        font-weight: normal;
        font-size: 1.75em;
    
    }
}

