$primary-color: #ffffff;
$secondary-color: #000000;

@mixin flexbox($direction, $content){
    display: flex;
    justify-content: $content;
    flex-direction: $direction;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI",Arial,sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}

.main-header{
    background-image: url("http://via.placeholder.com/1920x650");
    background-position: center;
    color: $primary-color;
}

.main-content{
    @include flexbox(column, center);
    align-items: center;
    height: 650px;

    h1{
        font-size: 5em;
    }

    p{
        font-size: 2.8em;
    }
}

.boxes{
    margin: 20px 0;

    .boxes-main{
        @include flexbox(null, center);
        text-align: center;
        flex-wrap: wrap;
    }

    .thumbnail{
        padding: 10px;
        width: 30%;
        display: flex;

        img{
            width: 100%;
            border-radius: 10px;
        }

        p{
            padding: 8px;
            font-size: 1.1em;
            margin-bottom: 10px;
        }

        a{
            text-transform: uppercase;
            text-decoration: none;
            color: #505050;
            border: 3px solid #505050;
            border-radius: 30px;
            padding: 5px 20px;
            font-weight: bold;
        }
    }

    figure{
        @include flexbox(column, space-between);
        padding: 20px;
        border: 1px solid #eeeeee;
        border-radius: 10px;  
    }
}

@media screen and (max-width: 800px) {
    .main-header{
        background-image: url("http://via.placeholder.com/600x600");
    }

    .main-content{
        height: 600px;
        text-align: center;
        h1{
            font-size: 3em;
        }
    
        p{
            font-size: 1.4em;
        }
    }
    
    .boxes{ 
        .thumbnail{
            width: 100%;
        }
    }
  }

