.hero-block {
  background: url('http://via.placeholder.com/1920x650') no-repeat center / cover;
  padding: 40px 0;
  min-height: 440px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  &__content {
    z-index: 1;
    position: relative;
    h1 {
      font-family: $primary-font-family;
      color: $color-blank;
      letter-spacing: 2px;
      @include fontRendering(60px, 72px, 700);
      margin: 0 0 10px;
    }
    .subtitle {
      font-family: $secondary-font-family;
      @include fontRendering(24px, 32px, 400);
      color: $color-blank;
    }
  }
}