@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");

html,
body,
#__next,
.app__wrapper {
  padding: 0;
  margin: 0;
  font-family: "Lato", serif;
  background-color: #fff;
  height: 100%;
  color: #414a4c;
}

html {
  font-size: 1em;
  line-height: 1.4;
  font-size: 3.25vw;
  scroll-behavior: smooth;

  @media (min-width: 576px) {
    font-size: 3vw;
  }
  @media (min-width: 768px) {
    font-size: 1.5vw;
  }
  @media (min-width: 1200px) {
    font-size: 1.25vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-page {
  height: 100%;
}

.text-sans {
  font-family: "Playfair Display", "Sans-serif";
}

.fig__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.is-desktop {
  display: none ;
  @media (min-width: 768px) {
    display: block ;
  }
}

.is-mobile {
  display: block ;
  @media (min-width: 768px) {
    display: none ;
  }
}

//Footer.js
.footer-link-text {
  opacity: 0.5;
  transition: opacity 0.4s linear;
  color: #414a4c;
}
.footer-link:hover {
  .footer-link-text {
    opacity: 1;
  }
}

//Exercise1.js
.exercise {
  padding-bottom: 1rem;
}

.hero {
  overflow: hidden;
  position: relative;
  color: #fff;
  @media (min-width: 768px) {
    min-height: 600px;
  }
}

.hero-image {
  width: 100%;
  @media (min-width: 768px) {
    height: 100%;
  }
}

.hero-image.is-mobile:before {
  content: "";
  width: 100%;
  display: block;
  padding-top: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-content {
  h1 {
    font-size: 4.5rem;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  p {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    @media (min-width: 768px) {
      font-size: 1.5rem;
      letter-spacing: 0.15em;
    }
  }
}

.cards__wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0rem 2rem;
  @media (min-width: 768px) {
    padding: 0rem 5rem;
  }
}

//Card.js
.card {
  padding: 1.25rem;
}

.card-image {
  position: relative;
  width: 100%;

  span {
    border-radius: var(--bs-card-border-radius);
  }
}

.card-image:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 75%;
}

.card-body {
  padding: 0 !important;
  .btn {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85rem;
    letter-spacing: 0.15em;
    border: 3px solid #414a4c !important;
    border-radius: 9999px;
  }

  .btn:hover {
    background-color: #414a4c;
    color: #fff;
  }
}

//Exercise2
.tabs__wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0rem 2rem;
  @media (min-width: 768px) {
    padding: 0rem 5rem;
  }
}

.tabs-text__wrapper{
  p{
    will-change: transform;
  }
}

.accordion-item {
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin-bottom: 1rem;
  position: relative;
  transition: color 0.4s linear;
  border: none !important;
  text-align: left;
  cursor: pointer;
  @media (min-width: 768px) {
    padding: 0 0 1rem;
    margin-bottom: 0rem;
    text-align: center;
  }

  .content__wrapper{
    font-size: 0.85rem;
    color: #414a4c !important;
    height: 0;
    opacity: 0;
    display: none;
  }
}

.accordion-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transition: background-color 0.4s linear;
  background: #414a4c;
}

.nav-button {
  outline: none;
  background: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    justify-content: center;
  }

  h5 {
    font-size: 1rem;
  }
}

.accordion-item.is-active {
  color: #d35c34;

  .plus__inner {
    transform: rotate(180deg);
  }

  .vertical-line {
    transform: rotate(90deg) translateX(-50%);
    opacity: 0;
  }
}

.accordion-item.is-active:after{
  background-color: #d35c34;
}

.accordion-item:hover {
  color: #d35c34;
}

.accordion-item:hover:after{
  background-color: #d35c34;
}

.plus__wrapper {
  margin-top: 0.125rem;
  margin-left: 0.5rem !important;
}

.plus__inner {
  position: relative;
  width: 1rem;
  height: 1rem;
  transition: transform 0.4s;
}

.minus {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

.vertical-line {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  transition: transform 0.4s;
  background-color: currentColor;
}
